<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="description" content="This repository contains information about some of the National Parks of the USA which preceded the moment of its creation (November 20201), including:

the name of the National Park
location (State) of the National Park
date established as a park
area of the National Park in square km
number of recreational visitors in 2020
URL of the website
fees for pedestrian
climate in the park
location where WiFi i available, if it is available
if cellular access is available, and where
average temperature messured by (average low temperature + average high temperature ) / 2
url of the represantative picture of the park
In addition, this repository contains information about the location of the park, such as:

capital city
total area (in square km)
population, according to Wikipedia">

   <meta name="keywords" content="HTML, CSS, JavaScript, USA, NP">
   <meta name="author" content="Ana Marija Pavičić">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet"  href="index.css" />
   <title>National Parks of the USA Data SET</title>
</head>

<body>

   <h1 class="a" id="NPUSA">National Parks of the USA</h1>

   <h2 class="a">Data set</h2><br>

   <h2 class="a" id= "dd">Download data:</h2>
   <a href="..\data\parkovi.csv" download="NationalParksOfUSA.csv"> <button class="button">Download CSV file</button> </a><br>
   <a href="..\data\parkovi.json" download="NationalParksOfUSA.json"><button class="button">Download JSON file</button>
   </a><br><br>

   <h2 class="a" id="vdd">View data in a datatable:</h2>
   <a href="\table"><button class="button">View datatable</button> </a><br>
   <div class="div">
      <img src="pic.jpg" class="img1" />
   </div>
</body>

</html>